#title {
    text-align: center;
}

#main {
    display: flex;
    height: 80%;
    width: 100%;
}

.container {
    display: flex;
    border: 2px solid black;
    width: 40%;
    height: 80vh;
    justify-content: space-between;
}

#player-section {
    justify-content: center;
    align-items: center;
    width: 25%;
}

#button-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#gameplay {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

#playerhasbomb {
    max-width: 100%;
    max-height: 100%;
}

#log-section {
    width: 25%
}

