@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Orbitron:wght@500&display=swap');

@media only screen and (max-width: 1000px) {
    li {
        font-size: 12px;
    }
}


#whole-body {
    background-color: rgba(46, 42, 42, 0.85);
}

body {
    color: white;
    font-family: 'Orbitron', sans-serif;
    background-image: url(./assets/nintendo_background.jpg);
}

#title {
    text-align: center;
    font-size: 40px;
}

#main {
    display: flex;
    height: 80%;
    width: 100%;
}

.container {
    display: flex;
    /* border: 2px solid black; */
    width: fit-content;
    /* height: 80vh; */
    /* justify-content: space-between; */
    align-items: center;
}

#player-section {
    justify-content: flex-start;
    align-items: center;
    width: 33%;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(187,182,162);
    /* flex-wrap: wrap; */
}

#player-container {
    height: 30%;
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 25px;
    padding-top: 15%;
   
}



button {
    /* margin-top: 20%; */
    margin-bottom: 0%;
    height: 30%;
    font-family: 'Orbitron', sans-serif;
    background-color: rgba(173, 91, 91, 0.55);
    color: white;
    font-size: 16px;
    /* justify-content: space-evenly; */

}

.player-choice {
    display: none;
    margin-top: 20%;
}

#start {
    height: 40px;
}

#rules-container {
    height: 55%;
    width: 100%;
    padding-left: 3px;
}

#rules {
    font-size: 18px;
}


#gameplay {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
    border: 2px solid rgb(187,182,162);
    /* width: 50%; */
    justify-content: center;
    /* align-items: center; */
}

#gameplay > div {
    width: 100%;
}

#counters {
    display: flex;
    justify-content: space-evenly;
    height: 8vh;
    text-align: center;
    /* border: 2px solid red; */
}


.dynamic-count {
    margin: 0px;
    border: 3px solid rgb(187,182,162);
    width: 33%;
}

#bomb-count {
    background-color: rgb(218, 42, 42, 0.60);
}

.images {
    display: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 77%;
    border: 1px solid rgb(52, 52, 218);
    width: 100%;
    height: 60%;
    background-image: url("./assets/playerhasbomb.png");
    background-size: 100%;
}




#counters > h2, #number-counters > h2 {
    width: 33%;
    /* border: 2px solid rgb(187,182,162); */
}


#number-counters {
    display: flex;
    /* flex-wrap: wrap; */
    width: 100%;
    /* height: 20%; */
    /* justify-content: space-evenly; */
    font-size: 3rem;
    /* border: 5px solid green; */
    flex-direction: column;
}

#number-counters > div {
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
}

#log-section {
    width: 30%
}

#running-log {
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    background-color: rgb(131, 129, 129, 0.20);
    color: white;
    position: absolute;
}

/* textarea {
    font-size: 32;
} */


.hidden {
    display: none;
}

#modal {
    position: absolute;
    z-index: 5;
    width: 600px;
    height: 200px;
    background-color: rgb(70, 66, 66);
    left: 30%;
    top: 18%;
}

#status-message {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5%;
    font-size: 20px;
}

#play-again {
    text-align: center;
}

#play-again > button {
    height: 70%;
    font-family: 'Orbitron', sans-serif;
    background-color: rgba(173, 91, 91, 0.55);
    color: white;
    font-size: 18px;
}

.red {
    background-color: #A00;
}

.brown {
    background-color: rgba(173, 91, 91, 0.55);
}