#title {
    text-align: center;
}

#main {
    display: flex;
    height: 80%;
    width: 100%;
}

.container {
    display: flex;
    border: 2px solid black;
    width: 40%;
    height: 80vh;
    justify-content: space-between;
    align-items: center;
}

#player-section {
    justify-content: flex-start;
    align-items: center;
    width: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#player-container {
    height: 30%;
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 25px;
}

#player-container > button {
    height: 40%;
}

#rules-container {
    height: 50%;
    width: 100%;
    border: 2px solid
}

#gameplay {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
    align-items: center;
}

#counters-and-numbers {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#bomb-count {
    /* margin: 0 40%; */
}

.images {
    max-width: 100%;
    max-height: 100%;
}
/* #playerhasbomb {
    max-width: 100%;
    max-height: 100%;
} */

#log-section {
    width: 25%
}

#counters {
    display: flex;
    justify-content: space-evenly;
    height: 20%;
    text-align: center;
}

#counters > h2, #number-counters > h2 {
    width: 33%;
    border: 2px solid black;
    
}

#number-counters {
    display: flex;
    /* flex-wrap: wrap; */
    width: 100%;
    /* justify-content: space-evenly; */
    align-items: center;
    text-align: center;
}